
#black-backgrnd {
    background-color: black;
    top: -150px;
    margin-top: -50px;
    }


.row {
    background-color: black;
}

#neon {
    padding-top: 20px;
    padding-bottom: 5px;
}

#content-border{
    border: 3px solid black;
}



.card-body {
    background-color: black;
    border: 3px solid black;
    color: white;
    height: 660px;
    
}


.girl {
    background-size: cover;
    margin-left: 50px; 

}

.col-md-8 {
    background-color: black;
}


.card-img-overlay {
    margin-left: 50px;
    
}

.start {
    font-style: italic;
    
}
 
